@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.form-container {
    position: absolute;
    top: 180px;
    left: 350px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input-container {
    position: relative;
    width: 450px;
}

.name-input,
.email-input {
    width: 100%;
    font-family: "Afacab", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background: none;
    border: none;
    outline: none;
    padding-bottom: 20px;
}

.input-underline {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 3px;
    left: 0;
    padding: 0;
    background-color: #fff;
}

.message-input {
    width: 450px;
    height: 175px;
    font-family: "Afacab", sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    background: none;
    border: none;
    outline: none;
    padding-bottom: 20px;
    resize: none;
}

.input-container:nth-of-type(3) .input-underline {
    width: 450px;
    bottom: 10px;
    left: 0;
}

.submit-button {
    width: 450px;
    height: 30px;
    background-color: #0E6ADE;
    color: #fff;
    font-family: "Afacab", sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    align-self: center;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submit-button:hover {
    background-color: #005bb5;
    transform: translateY(-3px);
}

.submit-button:active {
    background-color: #004a99;
    transform: translateY(1px);
}

.contact-info {
    position: absolute;
    top: 445px;
    left: 1090px;
    font-family: "Afacab", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: white;
}

.email-underline {
    position: absolute;
    bottom: -15px;
    width: 450px;
    height: 3px;
    background-color: #fff;
}

.location {
    font-size: 25px;
    font-weight: 400;
    color: white;
    top: 50px;
}