@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

.skills-title {
    font-family: "Afacad", sans-serif;
    font-size: 90px;
    position: absolute;
    top: 230px;
    left: 300px;
    color: #fff;
}

.skills-description {
    position: absolute;
    top: 400px;
    left: 1110px;
    max-width: 700px;
}

.description-text {
    font-family: "Afacab", sans-serif;
    font-size: 25px;
    color: white;
    line-height: 1.5;
}

/* Skills graph */
.skills {
    position: relative;
}

.skill-name {
    font-size: 36px;
    font-family: "Afacab", sans-serif;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin: 10px 0;
}

.skill-bar {
    height: 14px;
    background: #0d1d31;
    border-radius: 3px;
    width: 100%;
    max-width: 530px;
}

.skill-per {
    height: 14px;
    background: #03a9f4;
    border-radius: 3px;
    position: relative;
    animation: fillBars 2.5s 1;
}

.skill-per::before {
    content: attr(per);
    position: absolute;
    padding: 4px 6px;
    background: white;
    border-radius: 4px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translateX(50%);
}

.skill-per::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    top: -17px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
    border-radius: 2px;
}

@keyframes fillBars {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
