@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: radial-gradient(ellipse at 55% bottom, #0d1d31 0%, #000000 100%);
    margin: 0;
    overflow: hidden;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.logo {
    max-width: 20%;
    height: auto;
}

.clock {
    font-size: 45px;
    color: #fff;
    margin-left: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35px;
    display: flex;
    gap: 5px; /* Optional spacing */
}

.digit {
    display: inline-block; /* To isolate each digit for animations */
    transition: transform 0.3s ease, opacity 0.3s ease; /* Smooth morphing */
    transform-origin: center; /* Pivot for scaling or flipping */
}

.digit.morph-out {
    transform: scaleY(0); /* Shrinks the digit vertically */
    opacity: 0; /* Fades out */
}

.digit.morph-in {
    transform: scaleY(1); /* Grows back to full size */
    opacity: 1; /* Fades in */
}

.toggle {
    z-index: 10;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
    position: absolute;
    top: 25px;
    right: 50px;
    width: 75px;
    height: auto;
}

.toggle.opened {
}

.toggle.opened .line {
    stroke: #000000;
}

.line {
    fill: none;
    stroke: #ffffff;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.showcase {
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.showcase.active {
    right: 300px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #003d55;
    mix-blend-mode: overlay;
}

/* main content */
.Homepage-main.content {
    text-align: left;
    width: 100%;
    padding-left: 50px;
    padding-top: 85px;
}

.title {
    font-size: 75px;
    color: #fff;
    padding-left: 70px;
    max-width: 45%;
}

.body-text {
    font-size: 27px;
    color: #fff;
    max-width: 45%;
    line-height: 1.5;
    padding-left: 70px;
}

/* Footer */
.footer {
    font-family: "Afacad", sans-serif;
    padding: 10px 20px;
    color: #fff;
    margin-top: auto;
    position: absolute;
    z-index: 10;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    display: flex;
    align-items: center;
    gap: 125px;
}

.social-links {
    display: flex;
}

.follow-text {
    color: #fff;
    font-size: 35px;
    font-weight: 700;
}

.social-link {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 25px;
    transition: all 0.3s ease;
}

.social-link i {
    font-size: 25px;
    color: #fff;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-link:hover {
    color: #003d55;
    transform: translateY(-5px) scale(1.1);
}

.social-link:hover i {
    color: #003d55;
    transform: scale(1.1);
}

.menu {
    position: absolute;
    background-color: white;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    display: flex;
    transition: right 0.3s ease;
    justify-content: center;
    align-items: center;
}

.menu.opened {
    right: 0;
}

.menu ul {
    position: relative;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-size: 50px;
    color: #111;
}

.menu ul li a:hover {
    color: #03a9f4;
}

/* snow  */
.initial-snow {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.initial-snow > * {
    font-size: 50px;
    color: white;
    position: absolute;
    top: -5vh;
}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0);
    }

    100% {
        transform: translate3d(var(--left-end), 110vh, 0);
    }
}

.snow:nth-child(2n) {
    filter: blur(1px);
    font-size: 40px;
}

.snow:nth-child(6n) {
    filter: blur(2px);
    font-size: 30px;
}

.snow:nth-child(10n) {
    filter: blur(5px);
    font-size: 30px;
}

.snow:nth-child(1) {
    --size: 0.8vw;
    --left-ini: 0vw;
    --left-end: -1vw;
    left: 70vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(2) {
    --size: 0.2vw;
    --left-ini: -7vw;
    --left-end: 10vw;
    left: 65vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(3) {
    --size: 1vw;
    --left-ini: 6vw;
    --left-end: 6vw;
    left: 1vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -7s;
}

.snow:nth-child(4) {
    --size: 0.2vw;
    --left-ini: -3vw;
    --left-end: 9vw;
    left: 88vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(5) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: -9vw;
    left: 74vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(6) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: 1vw;
    left: 35vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -7s;
}

.snow:nth-child(7) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 27vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(8) {
    --size: 1vw;
    --left-ini: -9vw;
    --left-end: -2vw;
    left: 69vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(9) {
    --size: 0.2vw;
    --left-ini: -1vw;
    --left-end: -5vw;
    left: 84vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(10) {
    --size: 0.2vw;
    --left-ini: 7vw;
    --left-end: -9vw;
    left: 82vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -3s;
}

.snow:nth-child(11) {
    --size: 0.6vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 48vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(12) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: 6vw;
    left: 39vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(13) {
    --size: 0.2vw;
    --left-ini: 6vw;
    --left-end: 5vw;
    left: 3vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(14) {
    --size: 0.8vw;
    --left-ini: -5vw;
    --left-end: -2vw;
    left: 49vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(15) {
    --size: 0.6vw;
    --left-ini: 10vw;
    --left-end: 4vw;
    left: 77vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(16) {
    --size: 0.8vw;
    --left-ini: -3vw;
    --left-end: 1vw;
    left: 86vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(17) {
    --size: 1vw;
    --left-ini: 6vw;
    --left-end: -7vw;
    left: 18vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(18) {
    --size: 1vw;
    --left-ini: -9vw;
    --left-end: 4vw;
    left: 64vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -7s;
}

.snow:nth-child(19) {
    --size: 1vw;
    --left-ini: 2vw;
    --left-end: -7vw;
    left: 52vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(20) {
    --size: 0.4vw;
    --left-ini: 0vw;
    --left-end: 8vw;
    left: 5vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(21) {
    --size: 0.6vw;
    --left-ini: -9vw;
    --left-end: -2vw;
    left: 10vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -3s;
}

.snow:nth-child(22) {
    --size: 0.8vw;
    --left-ini: -3vw;
    --left-end: -8vw;
    left: 54vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(23) {
    --size: 0.6vw;
    --left-ini: -7vw;
    --left-end: -8vw;
    left: 20vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -3s;
}

.snow:nth-child(24) {
    --size: 0.4vw;
    --left-ini: 10vw;
    --left-end: -4vw;
    left: 68vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -8s;
}

.snow:nth-child(25) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 5vw;
    left: 90vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(26) {
    --size: 1vw;
    --left-ini: -7vw;
    --left-end: 5vw;
    left: 71vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -2s;
}

.snow:nth-child(27) {
    --size: 0.6vw;
    --left-ini: 9vw;
    --left-end: 4vw;
    left: 2vw;
    animation: snowfall 15s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(28) {
    --size: 1vw;
    --left-ini: -5vw;
    --left-end: 3vw;
    left: 23vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(29) {
    --size: 0.4vw;
    --left-ini: -2vw;
    --left-end: -1vw;
    left: 39vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(30) {
    --size: 0.6vw;
    --left-ini: -9vw;
    --left-end: -5vw;
    left: 76vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(31) {
    --size: 0.4vw;
    --left-ini: -5vw;
    --left-end: 3vw;
    left: 14vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(32) {
    --size: 0.2vw;
    --left-ini: 5vw;
    --left-end: -1vw;
    left: 86vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(33) {
    --size: 0.4vw;
    --left-ini: -3vw;
    --left-end: 10vw;
    left: 66vw;
    animation: snowfall 6s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(34) {
    --size: 1vw;
    --left-ini: -3vw;
    --left-end: 6vw;
    left: 75vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(35) {
    --size: 1vw;
    --left-ini: -6vw;
    --left-end: 7vw;
    left: 22vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(36) {
    --size: 1vw;
    --left-ini: 3vw;
    --left-end: 4vw;
    left: 10vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -10s;
}

.snow:nth-child(37) {
    --size: 0.6vw;
    --left-ini: 2vw;
    --left-end: 10vw;
    left: 95vw;
    animation: snowfall 13s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(38) {
    --size: 0.8vw;
    --left-ini: 5vw;
    --left-end: 8vw;
    left: 34vw;
    animation: snowfall 9s linear infinite;
    animation-delay: -10s;
}

.snow:nth-child(39) {
    --size: 0.8vw;
    --left-ini: 4vw;
    --left-end: 0vw;
    left: 80vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -2s;
}

.snow:nth-child(40) {
    --size: 0.8vw;
    --left-ini: 1vw;
    --left-end: -7vw;
    left: 45vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(41) {
    --size: 0.2vw;
    --left-ini: 9vw;
    --left-end: 10vw;
    left: 82vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -2s;
}

.snow:nth-child(42) {
    --size: 1vw;
    --left-ini: 9vw;
    --left-end: -9vw;
    left: 22vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(43) {
    --size: 0.6vw;
    --left-ini: 5vw;
    --left-end: 8vw;
    left: 66vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -1s;
}

.snow:nth-child(44) {
    --size: 0.6vw;
    --left-ini: -5vw;
    --left-end: -2vw;
    left: 75vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(45) {
    --size: 0.2vw;
    --left-ini: 0vw;
    --left-end: 3vw;
    left: 2vw;
    animation: snowfall 7s linear infinite;
    animation-delay: -5s;
}

.snow:nth-child(46) {
    --size: 0.2vw;
    --left-ini: 8vw;
    --left-end: -3vw;
    left: 94vw;
    animation: snowfall 8s linear infinite;
    animation-delay: -9s;
}

.snow:nth-child(47) {
    --size: 0.6vw;
    --left-ini: -6vw;
    --left-end: -9vw;
    left: 95vw;
    animation: snowfall 11s linear infinite;
    animation-delay: -4s;
}

.snow:nth-child(48) {
    --size: 0.2vw;
    --left-ini: -5vw;
    --left-end: 6vw;
    left: 34vw;
    animation: snowfall 10s linear infinite;
    animation-delay: -6s;
}

.snow:nth-child(49) {
    --size: 0.8vw;
    --left-ini: 4vw;
    --left-end: 8vw;
    left: 22vw;
    animation: snowfall 12s linear infinite;
    animation-delay: -10s;
}

.snow:nth-child(50) {
    --size: 0.2vw;
    --left-ini: -4vw;
    --left-end: 4vw;
    left: 100vw;
    animation: snowfall 14s linear infinite;
    animation-delay: -9s;
}
